main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: sans-serif;
    margin: 0;
}

.login-container {
    position: relative;
    background: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
}

.toggle-password {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #4b55a3;
}


.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1.5px solid #4b55a3; 
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

.input-group {
    position: relative;
    margin-bottom: 25px;/*entre les cases pour ecrire*/
    text-align: left;
}

.input-group label {
    position: absolute;
    top: -10px;
    left: 15px;
    background: white;
    padding: 0 5px;
    font-size: 14px;
    color: #1c27a3;
    z-index: 1;
}

.back-link {
    display: block;
    text-align: left;
    color: #888;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
}

button {
    background-color: #242e87; 
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
}

button:hover {
    background-color: #606dd1;
}