:root {
    /* Couleurs principales */
    --bleu-fonce: #293771;
    --orange: #f17526;
    --blanc: #ffffff;
    --gris-clair: #f8f9fa;
    --texte-noir: #333333;

    /* Polices */
    --police-principale: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Crucial : empêche les paddings de déformer tes boîtes */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1; 
    align-items: center;     /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
}

main {
    font-family: var(--police-principale);
    background-color: var(--gris-clair);
    color: var(--texte-noir);
    line-height: 1.6;
}

h1 {
    color: var(--bleu-fonce);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    color: var(--orange);
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.btn-jobeo {
    display: inline-block;
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-jobeo:hover {
    background-color: var(--orange); /* Le bouton change de couleur au survol */
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* Centre le bloc horizontalement */
    padding: 0 20px;
}