.pages_footeur {
    max-width: 800px;
    margin: auto;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15); 
    border-radius: 8px;
    line-height: 1.6;      
    color: #333;
}

.pages_footeur h1 {
    font-size: larger;
    margin-bottom: 30px; 
}

.pages_footeur h2 {  
    font-size: large;
    margin-top: 25px;
    border-bottom: 2px solid #f8f8f8;
    padding-bottom: 10px;
}


.pages_footeur li {
    margin-left: 3rem;
}